{% extends 'base.html.twig' %}
{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2">Title</th>
                <th class="px-4 py-2">Author</th>
                <th class="px-4 py-2">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td class="px-4 py-2">{{ article.title }}</td>
                <td class="px-4 py-2">{{ article.content }}</td>
                <td class="px-4 py-2">{{ article.date }}</td>

                <td class="px-4 py-2">
                    {% if article.image %}
                    <img src="{{ asset('uploads/' ~ article.image) }}" alt="Article Image" width="100">
                    {% else %}
                    No image available
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
</div>
{% endblock %}