{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Votre Profile</h1>
   <p>Nom d'utilisateur : {{ user.username }} </p>
    <p>Email : {{ user.email }} </p>


    {# Ajoutez d'autres champs du profil ici #}
    <a href={{ path('app_logout') }}><button class="btn btn-danger">Logout</button></a>

    <a href="{{ path('profile_edit') }}"><button class="btn btn-warning">Modifier le Profil</button></a>

{% endblock %}