{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau tag</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_ctag_index') }}">Retour à la liste</a>


{% endblock %}
